.social-list {
    display: flex;
    justify-content: center;
  }
  .social-list__link {
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

        &:hover,
        &:focus {
        background-color: var(--c-blue);
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
        }
  }
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-list__link_icon {
    height: 20px;
    width: 20px;
    fill: var(--c-social);
    
        .social-list__link:hover &,
        .social-list__link:focus & {
        fill: var(--c-white);
    }
  }

